.startP{
    margin-top: 15%;
    font-size: 1.5rem;
    text-align: center;
    
}

.startButton{
    position: absolute;
    border: 0px;
    border-radius: 10px;
    background-color: #20232A;
    color: white;
    width: 150px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2rem;
    transition: all .5s ;
}

.startButton:hover{
    cursor:pointer;
    box-shadow: 0px 0px 20px 4px #20232A;
}