.card {
  position: fixed;
  top: 45px;
  right: 0px;
  width: 20%;
  min-width: 240px;
  height: calc(100vh - 45px);
  background-color: #f7f7f7;
  overflow: hidden;
}
.cardP {
  line-height: 2.2rem;
  font-size: 1.2rem;
}

.innerCard {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 20px 350px 20px 40px;
}

.card div:hover {
  cursor: pointer;
}

@media (max-width: 650px) {
    .card{
        right: -225px;
    }

    .card:hover{
        right: 0px;
    }

 
}
