.wrapper{
  width: 22%;
  display: flex;
  flex-direction: row;

}
.inputwrapper {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}

.search {
  width: 100%;
  height: 20px;
  background: #ffffff;
  border: 0px;
  border-radius: 5px;
}
.search:focus {
  outline: none;
}

.icon {
  background-image: url("../../public/Vector.svg");
  width: 15px;
  height: 15px;
}

.icon:hover {
  cursor: pointer;
}
