.navbar {
  height: 45px;
  background-color: #20232a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.name {
  font-size: 1.3rem;
  color: white;
  margin-left: 8%;
}

.blist {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 5% ;
}

.bar {
  height: 1.5px;
  background-color: #f3cafb;
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  transition: all 0.5s;
}

.navButton {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0px 10 px;
}

/* .navButton:hover,
.navButton:active {
  color: #f3cafb;
  cursor: pointer;
} */
