.navbar {
  height: 45px;
  background-color: #20232a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.name {
  font-size: 1.3rem;
  color: white;
  margin-left: 8%;
}

.blist {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 5%;
}

.bar {
  height: 1.5px;
  background-color: #f3cafb;
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  transition: all 0.5s;
}

.navButton {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0px 5px;
}

/* .navButton:hover,
.navButton:active {
  color: #f3cafb;
  cursor: pointer;
} */

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media(max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .responsive_nav {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
