.navbar {
  width: 100%;
  height: 45px;
  background-color: #20232a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 1.5rem;
  color: white;
  margin-left: 8%;
  cursor: pointer;
  text-decoration: none;
}

.blist {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 5%;
}

.bar {
  height: 1.5px;
  background-color: #f3cafb;
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  transition: all 0.5s;
}

.metButton {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0px 12px;
  cursor: pointer;
  font-size: 1.05rem;
  
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  display: none;
}

@media (max-width: 650px) {
  .nav-btn {
    display: block;
    opacity: 1;
  }
  .bar {
    display: none;
  }

  .metNames {

    position: fixed;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #20232a;
    display: none;
    z-index: 99;
    
  }

  .responsive_nav {
    animation: anna .4s;
    display: flex;
  }

  @keyframes anna {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #20232a;
  }
}
