.card {
  position: fixed;
  top: 45px;
  right: 0px;
  min-width: 240px;
  height: calc(100vh - 45px);
  background-color: #f7f7f7;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: flex-start;
}
.cardP {
  line-height: 2.2rem;
  font-size: 1.2rem;
  display: block;
  text-decoration: none;
  color: black;
}

.innerCard {
  width: 220px;
  height: 100%;
  overflow-y: auto;
}

.innerCard:hover {
  cursor: pointer;
}

@media (max-width: 750px) {
  .card {
    right: var(--right);
    padding: 20px 0px 70px 0px;
  }
}

.animation {
  transition: 0.3s all;
}

.mover {
  width: 30px;
}

.swipeArrow {
  display: inline-flex;
  align-items: center;
  font-family: sans-serif;
  position: fixed;
  top: 180px;
  right: 40px;
}

@media (min-width: 751px) {
  .swipeArrow {
    display: none;
  }
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #20232a;
  transform: rotate(-45deg);
  animation: arrow-anim 1s ease-in-out infinite alternate;
}

.text {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #555;
  animation: text-anim 1s ease-in-out infinite alternate;
}

@keyframes arrow-anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes text-anim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}
